*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%; 
}
.container-fluid{
    width: 1470px !important;
    margin: 0 auto;
	padding: 0;
}
body p,span,a,li{
	font-family: 'Roboto', sans-serif;
}
body h1,h2,h3,h4,h5,h6,strong{
	font-family: 'Rubik', sans-serif;
}

/* Header Secton */

/* Header logo end */
header {
	background-color: #fff;
	padding: 10px 0;
}
header .header-logo {
	line-height: 55px;
	width: 150px;
}
/* Header logo end */

/* Header Menu Start */
header .bar {
	padding-right: 0px;
}
header .header-menu ul {
	line-height: 54px;
	margin-bottom: 0px;
}
header .header-menu ul li{
	position: relative;
}
header .header-menu ul li a {
	text-decoration: none;
	color: red;
	display: inline-block;
	padding: 5px 21px;
	font-size: 16px;
	font-weight: 700;
}
header .header-menu ul li:first-child a {
	color: #e73c3fc8;
}
header .header-menu ul li a:hover{
	color: rgba(230, 20, 20, 0.6) !important;
}


/* Dropdown menu */
header .header-menu ul li ul {
	list-style: none;
	width: 250px;
	text-align-last: left;
	text-align: center;
	/* top: 216%; */
	position: absolute;
	top: 100%;
	left: 0;
	padding: 0;
	opacity: 0;
	visibility: hidden;
	transition: .5s ease-in-out;	
}
header .header-menu ul li:hover >ul{
	opacity: 1;
	visibility: visible;
}
header .header-menu ul li ul li a:hover{
	letter-spacing: 1px;
}
header .header-menu ul li ul li a.mnu-2:hover{
	letter-spacing: 0;
}
header .header-menu ul li ul li a {
	transition: all .6s;
	padding: 0 20px;
}
header .header-menu ul li ul li:nth-child(1) a{
	color: red;
}
header .header-menu ul li ul li a.mnu-2{
	color: #e73c3fc8;
}
header .header-menu ul li ul li:nth-child(3) a{
	color: red;
}
header .header-menu ul li ul li ul{
	width: 250px;
	left: -250px;
	top: 0%;
}
/* Dropdown menu */

/* Header Menu End */
.header-right-div {
	line-height: 25px;
}
.header-right-div .search-div {
	padding-left: 0px;
	line-height: 64px;
}
.header-right-div .search-div span {
	border-right: 1px solid rgb(208, 203, 203);
	padding: 0 10px;
}
.header-right-div .header-contact {
	padding: 6px 9px;
}
.header-right-div .header-contact .contact-icon {
	width: 35px;
	line-height: 46px;
}
.header-right-div .header-contact .contact-number {
	padding: 0px 5px;
}
.header-right-div .header-contact .contact-number h6{
	font-weight: bold;
}
.header-right-div .header-contact .contact-number p {
	margin-bottom: 0;
	color: #a57460;
}
.header-right-div .header-contact .contact-number a{
	text-decoration: none;
	color: black;
}
.header-right-div .header-button {
	line-height: 58px;
}
.header-button .defaultbtn {
	padding: 8px 14px;
	position: relative;
	z-index: 1;
}
.header-button .defaultbtn::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	background-color: black;
	transition: .4s;
	z-index: -1;
}
.header-button .defaultbtn:hover::before{
	width: 100%;
}
/* Header Secton End */

/* Banner Section */
.banner {
	background-image: url(./img/main-banner2.jpg);
	padding: 280px 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: top center;
}
.banner h6 {
	font-size: 19px;
}
.banner h1 {
	font-size: 65px;
	font-weight: 700;	
}
.banner p {
	font-size: 18px;
	width: 44%;
	margin-bottom: 60px;
}
.banner-button .defaultbtn {
	padding: 8px 14px;
	position: relative;
	z-index: 1;
}
.banner-button .defaultbtn::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	background-color: black;
	transition: .4s;
	z-index: -1;
}
.banner-button .defaultbtn:hover::before{
	width: 100%;
}

.banner .banner-social-icon{
	margin-top: 150px;
}
/* Banner Section End */

/* MArquee Section */
.mini-slide marquee ul{
	margin: 0;
}
.mini-slide marquee ul li {
	margin: 50px;
}
.mini-slide marquee ul li img{
	width: 250px;
}
/* MArquee Section End */

/* Aboutt Section */
.about-section{
	margin-top: 100px;
	position: relative;
}
.about-section figure::before{
	content: '';
	top: 0;
	left: 0;
	position: absolute;
}
.about-section .about-img {
	position: relative;
	top: -210px;
	left: 339px;
}
.about-section span {
	position: absolute;
	top: 30px;
	left: 35px;
	text-align: center;
}
.about-section span h1{
	font-size: 70px;
	font-weight: 700;
	color: #e73c3e;
}
.about-section span p{
	font-weight: bold;
}
.about-button .defaultbtn {
	padding: 8px 34px;
	position: relative;
	z-index: 1;
}
.about-button .defaultbtn::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	background-color: black;
	transition: .4s;
	z-index: -1;
}
.about-button .defaultbtn:hover::before{
	width: 100%;
}
/* Aboutt Section End */

/* Why Choose Section */
.choose-section{
	background-color: #f9fafb;
	padding: 70px 0;
}
.choose-section .choose-left{
	position: relative;
}
.choose-section .choose-left h1{
	font-weight: bold;
}
.choose-section .choose-left p{
	color: #606270;
}
.choose-section .choose-left .animate-btn {
	font-size: 63px;
	position: absolute;
	top: 460px;
	left: 315px;
	color: red;
	height: 95px;
	width: 95px;
	line-height: 100px;
	text-align: center;
	border-radius: 50%;
	background-color: white;
	transition: .4s;
}
.choose-section .choose-left .animate-btn:hover{
	background-color: red;
	color: white;
}
.choose-section .choose-left .animate-btn::after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: red;
	height: 95px;
	width: 95px;
	border-radius: 50%;
	animation-name: mamon;
	animation-duration: 1.6s;
	animation-iteration-count: infinite;
}
@keyframes mamon{
	0%,30%{
		transform: scale(0);
		opacity: 1;
	}

	50%{
		transform: scale(1.5);
		opacity: .5;
	}
	100%{
		transform: scale(2);
		opacity: 0;
	}
}
.features-item{
	background-color: white;
	margin: 10px;
}
.features-item .features-icon i{
	font-size: 50px;
	color: red;
	height: 90px;
	width: 90px;
	text-align: center;
	background-color: white;
	line-height: 90px;
	border-radius: 50%;
	transition: .6s;	
}
.features-item{
position: relative;
overflow: hidden;
z-index: 1;
transition: .7s;
}
.features-item::before {
	content: '';
	position: absolute;
	top: -179px;
	left: 6px;
	background-color: #fdebeb;
	height: 275px;
	width: 274px;
	border-radius: 50%;
	z-index: -1;
}
.features-item:hover i{
	color: white;
	background-color: red;
}
.features-item:hover{
	transform: translateY(-10px);
}
/* Why Choose Section End */

/* apply-section */
.apply-section .apply-section-header p{
	font-size: 17px;
}
.apply-section .data-count ul{
	position: relative;
	list-style: none;
}
.apply-section .data-count ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 78%;
	width: 1px;
	background-color: red;
}
.apply-section .data-count ul li{
	padding: 0px 20px;
	position: relative;
}
.apply-section .data-count ul li::before {
	content: attr(data-counter);
	position: absolute;
	top: 0px;
	left: -56px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	border: 1px solid black;
	background-color: white;
}
.apply-section .data-count ul li h4{
	font-weight: bold;
	padding-bottom: 10px;
}
.apply-section .data-count ul li p{}

.apply-section .apply-contact{
	background-color: #fdebeb;
}
.counter-button .defaultbtn {
	padding: 8px 14px;
	position: relative;
	z-index: 1;
}
.counter-button .defaultbtn::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	background-color: black;
	transition: .4s;
	z-index: -1;
}
.counter-button .defaultbtn:hover::before{
	width: 100%;
}
.apply-button .defaultbtn {
	padding: 8px 14px;
	position: relative;
	z-index: 1;
}
.apply-button .defaultbtn::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	background-color: black;
	transition: .4s;
	z-index: -1;
}
.apply-button .defaultbtn:hover::before{
	width: 100%;
}
/* apply-section end */

/* Business Section */
.business{
	background-color: #e73c3e;
}
.business .business-left{}

.business .business-left h1 {

	border-right: 1px solid #ddd;
}
.business .business-right{
	padding: 0 30px;
}
.business .business-right span {
	background-color: white;
	height: 65px;
	width: 65px;
	color: #15000087;
	font-size: 30px;
	border-radius: 50%;
	/* padding: 0 20px; */
	margin-right: 40px;
	line-height: 65px;
}
/* Business Section End */

/* Company Section */
	.company-section{}
	.company-section .company-head{}
	.company-section .company-head h1{
		font-weight: 600;
	}
	.company-section ul {
		list-style: none;
		padding: 0px;
	}	
	.company-section ul li{
		padding: 0;
	}
	.company-section ul li h3{
		font-weight: 600;
	}
	.company-section ul li .div-1 {
		padding-right: 20px;
		height: 120px;
		width: 150px ;
	}
/* Company Section End */


/* services-section */
.services-section{
	background-color: rgba(128, 128, 128, 0.1);
}
.services-section .services-header{}
.services-section .services-header p{
	width: 65%;
}
.services-tab {}
.services-tab ul.services-item{
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.services-tab ul li {
	display: inline-block;
	padding: 0px 17px;
	position: relative;
}
.services-tab ul li::before {
	content: '';
	top: 167px;
	left: 0;
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: #ff000045;
	opacity: 0;
	visibility: hidden;
	transition: .5s;
	transition-delay: .3s;
}
.services-tab ul li:hover::before{
	opacity: 1;
	visibility:visible;
}

.services-tab ul li img {
	display: inline-block !important;
	/* text-align: center; */
	padding: 18px 44px;
	object-fit: cover;
	width: 150px;
}
.services-tab ul li a strong{

}
.services-tab ul li a {
	color: black !important;
	font-size: 20px;
	/* padding: 8px; */
	display: inline-block;
	text-align: center;
	padding: 20px 9px;
}

.services-tab-content{
	margin-top: 60px;
}

.services-tab-content .services-tab-content-img{}
.services-tab-content .services-tab-content-img img{}

.services-tab-content .services-tab-content-text{}
.services-tab-content .services-tab-content-text h3{
	font-weight: 700;
	padding-bottom: 10px;
}
.services-tab-content .services-tab-content-text p{}
.services-tab-content .services-tab-content-text ul.services-list{
	padding-left: 0;
}
.services-tab-content .services-tab-content-text ul.services-list li {
	display: block;
	padding: 7px 0;
	margin-left: 23px;
	position: relative;
}
.services-tab-content .services-tab-content-text ul.services-list li::before {
	content: '';
	position: absolute;
	top: 16px;
	left: -23px;
	height: 10px;
	width: 10px;
	/* padding-block: red; */
	border-radius: 50%;
	background: #e73c3e;
}
/* services-section End */
/* Testimonial Section */
.testimonial-section{
	
}
.service-section .carousel-item p::before{
	content: '"';
	font-family: 'Font Awesome 5 Free';
	font-weight: 800;
	font-size: 40px;

}
.testimonial-section .carousel-item p::after{
	content: '"';
	font-family: 'Font Awesome 5 Free';
	/* font-weight: 800; */
	font-size: 40px;

}

.testimonial-section .testimonial-header{
	padding: 20px 0;
}
.testimonial-section .testimonial-header p{
	width: 40%;
}
.carousel-indicators [data-bs-target] {
	height: 20px;
	background: transparent;
	border-radius: 50%;
	margin: 5px 0px;
	border: 2px solid blue;
	width: 20px;
}
.carousel-indicators button.active{
	/* background-color: rgb(241, 132, 132); */
	position: relative;
}

.carousel-indicators button.active::before {
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	height: 12px;
	width: 12px;
	background-color: red;
	border-radius: 50%;
}
.carousel-indicators {
	margin-bottom: 2rem;
	left: 74%;
	bottom: 34%;
	display:grid!important;
	/* bottom: 0 !important; */

}
.carousel-indicators button.ind-bttn:nth-child(1)::before {
	content: '';
	top: 10px;
	left: -6px;
	position: absolute;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: #e73c3e;
	opacity: 0;
	visibility: hidden;
	transition: .6s;
}
.carousel-indicators button.ind-bttn:nth-child(1):hover:before{
	opacity: 1;
	visibility: visible;
}


.carousel-indicators button.ind-bttn2{
	position: relative;
}
.carousel-indicators button.ind-bttn2::after {
	content: '';
	top: 4px;
	left: 4px;
	height: 12px;
	width: 12px;
	background-color: #e73c3e;
	position: absolute;
	border-radius: 50%;
	opacity: 0;
	visibility: hidden;
	transition: .6s;
}
.carousel-indicators button.ind-bttn2:hover::after{
	opacity: 1;
	visibility: visible;
}
.carousel-indicators button.ind-bttn3{
	position: relative;
}
.carousel-indicators button.ind-bttn3::after {
	content: '';
	top: 4px;
	left: 4px;
	height: 12px;
	width: 12px;
	background-color: #e73c3e;
	position: absolute;
	border-radius: 50%;
	opacity: 0;
	visibility: hidden;
	transition: .6s;
}
.carousel-indicators button.ind-bttn3:hover::after{
	opacity: 1;
	visibility: visible;
}


.testimonial-section .carousel-item p {
	font-size: 25px;
	color: #111111;
	font-weight: 600;
	opacity: 0.8;
}
.testimonial-right-content{
	position: relative;
}

.testimonial-right-content .bbb::before{	
		content: '\f10e';
		font-family: "Font Awesome 5 Free";
		font-size: 50px;
		font-weight: 600;
		position: absolute;
		top: 215px;
		left: 87px;
		height: 80px;
		width: 80px;
		background-color: #fff;
		line-height: 80px;
		text-align: center;
		border-radius: 50%;
		color: #8a7c61;
		transition: .5s;
}

.testimonial-right-content .bbb:hover::before{
	background-color: red;
	color: white;
}

/*Testimonial Section End */
/* Team Section */

.team-section{
	background-color: rgba(221, 221, 221, 0.152);
	padding-top: 100px;
}

.team-section .team-header{}

.team-section .team-header h6{}

.team-section .team-header h1{}

.team-section .team-header p {
	width: 74%;
	padding: 10px 0;
}

.team-section .member-img{}

.team-section .member-img img{}

.team-section .member-img ul {
	display: flex;
	list-style: none;
	padding-left: 0;
	text-align: center;
	justify-content: center;
	padding: 0;
	margin-bottom: 0;

}

.team-section .member-img ul li {
	display: inline-block;
	padding: 0px 8px;
	position: relative;
	bottom: 65px;
	left: 0px;
	transform: translateY(50px);
	opacity: 0;
	visibility: hidden;
	transition: .9s;
	
	
}
.team-section .member-img ul li a {
	font-size: 18px;
	height: 35px;
	width: 35px;
	background: white;
	display: inline-block;
	color: black;
	line-height: 35px;
	text-align: center;
	border-radius: 51%;
	transition: .5s;
	/* padding: 4px 10px; */
}
.team-section .member-img ul li a:hover{
	color: white;
	background-color: red;
}

.team-section .member-img:hover >ul li{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);

}
.team-section .member-img ul li:nth-child(1){
	transition-delay: .1;
}
.team-section .member-img ul li:nth-child(2){
	transition-delay: .3s;
}
.team-section .member-img ul li:nth-child(3){
	transition-delay: .5s;
}
.team-section .member-img ul li:nth-child(4){
	transition-delay: .7s;
}

.team-section .member-info{}


.team-section .member-info h4{
	color: #e73c3e;
	font-weight: 600;
}

.team-section .member-info span{
	font-size: 16px!important;
}

/* Team Section End */
/* Blog Section */
.blog-section{}
.blog-section .blog-header{}
.blog-section .blog-header h6{}
.blog-section .blog-header h1{}
.blog-section .blog-header p{
	width: 74%;
	padding: 10px 0;
}

.blog-section .blog-item{}
.blog-section .blog-item img{}
.blog-section .blog-item span{}

.blog-section .blog-item figcaption h3.h3-width {
	width: 100%;
	font-weight: 600;
	padding: 10px 0;
	/* font-size: 27px; */
}
.blog-section .blog-item a{
	font-weight: bold;
}
.blog-section .blog-item  .btn{
	transition: .5s;
	padding: 0;
}

.blog-item:hover .btn{
	letter-spacing: 1px !important;
	color: red;
}

/* Blog Section End */
/* Footer Section */
.footer-section {
	background-color: #111111;
	/* padding: 95px 0; */
	padding-top: 94px;
	padding-bottom: 55px;
}
.footer-section .footer-logo{}
.footer-section .footer-logo img {
	height: 50px;
	width: auto;
}
.footer-section .footer-content p {
	padding: 10px 0;
	font-size: 18px;
}
.footer-section .footer-icon {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	
}
.footer-section .footer-icon::before {
	content: 'Follow us:';
	font-size: 20px;
	font-weight: 600;
}
.footer-section .footer-icon li {
	display: inline-block;
	padding: 2px 10px;
}
.footer-section .footer-icon li a {
	display: inline-block;
	color: white;
	font-weight: 700;
	font-size: 20px;
}

.footer-section .footer-another-content {
	padding: 6px 0;
	position: relative;
}
.footer-section .footer-another-content::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 100%;
	background-color: red;
}
.footer-section .footer-another-content h3{
	font-size: 24px;
 }
 .footer-section .footer-services ul {
	list-style: none;
	/* display: flex; */
	padding-left: 0;
}
.footer-section .footer-services ul li {
	padding: 9px 0;
	transition: .5s;
}
.footer-section .footer-services ul li:hover{
	letter-spacing: 1px;
	color: #e73c3e;
}
.footer-section{}

.footer-section .footer-location-content h3{
	font-size: 24px;
	
	

}
.footer-section .footer-location-content{
	position: relative;
	padding: 6px 0;
}
.footer-section .footer-location-content::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 100%;
	background-color: red;
}
.footer-section .location-1 {
	display: flex;
	padding: 10px 0px;
}
.footer-section .location-icon {
	font-size: 25px;
}
.footer-section .location-icon img{
	object-fit: cover;
	width: 29px;
}
.footer-section span{
	margin-left: 20px;
}
.footer-section span p{
	margin: 0;
}

.footer-section .location-1 span a{
	text-decoration: none;
	color: white!important;
	transition: .7s;
}
.footer-section .location-1 span a:hover{
	color: #e73c3e!important;
}
.footer-section hr{
	margin-top: 100px!important;
}
.footer-section p.last-footer {
	margin: 0;
	color: #e73c3e !important;
	/* line-height: 24px; */
	margin-top: 35px;
}
/* Footer Section End */

